<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <!--<httpRuntime targetFramework="4.5" />-->
    <httpRuntime maxRequestLength="1048576" />
  </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="smtpServer" value="smtp.gmail.com"/>
    <add key="smtpPort" value="587"/>
    <add key="smtpEnableSSL" value="true"/>
    <add key="smtpAuthEmail" value="coollinecorporation900@gmail.com"/>
    <add key="smtpAuthPassword" value="Revol@2015"/>
    <add key="bccEmail" value="coollinecorporation90@gmail.com"/>
    <!--<add key="EmailTo" value="beingexporter90@gmail.com"/>-->
    <add key="ikvm:my.log" value="D:/log/"/>
  </appSettings>

  <!--<system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>-->
  
  <connectionStrings>
    <add name="Coolline"  connectionString="Data Source=103.87.173.217;Initial Catalog=Coolline; User Id=sa;pwd=4fzQ@eLXcB9b;pooling='true'"
           providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>

