USE [yourcare]
GO
/****** Object:  Table [dbo].[CityMaster]    Script Date: 01-07-2017 1.03.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CityMaster](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[stateid] [int] NULL,
	[city] [varchar](50) NULL,
 CONSTRAINT [PK_CityMaster] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StateMaster]    Script Date: 01-07-2017 1.03.11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StateMaster](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[stateid] [int] NULL,
	[name] [varchar](50) NULL,
	[type] [varchar](50) NULL,
 CONSTRAINT [PK_StateMaster] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CityMaster] ON 

INSERT [dbo].[CityMaster] ([ID], [stateid], [city]) VALUES (1, 1, N'Cachar')
INSERT [dbo].[CityMaster] ([ID], [stateid], [city]) VALUES (2, 1, N'Darrang')
INSERT [dbo].[CityMaster] ([ID], [stateid], [city]) VALUES (3, 1, N'Dhemaji')
GO
SET IDENTITY_INSERT [dbo].[CityMaster] OFF
SET IDENTITY_INSERT [dbo].[StateMaster] ON 

INSERT [dbo].[StateMaster] ([ID], [stateid], [name], [type]) VALUES (1, 36, N'Andaman and Nicobar Islands', N'Union Territory')
INSERT [dbo].[StateMaster] ([ID], [stateid], [name], [type]) VALUES (2, 6, N'Andhra Pradesh', N'state')
INSERT [dbo].[StateMaster] ([ID], [stateid], [name], [type]) VALUES (3, 17, N'Arunachal Pradesh', N'state')
SET IDENTITY_INSERT [dbo].[StateMaster] OFF
